body {
  background-color: rgb(212, 182, 182);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(16, 81, 83);
  margin: 10px;
  padding:10px;
}

input, button, select {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  border: 2px solid rgb(102, 8, 190);
  padding: 8px;
  color:rgb(46, 4, 95);
  background-color: rgb(152, 102, 218);
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(64, 83, 133);
}

.App-link {
  color: #61dafb;
}

tr, td, th {
  border: 2px solid rgb(102, 8, 190);
  padding: 8px;
  color:rgb(46, 4, 95);
  background-color: rgb(152, 102, 218);
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #08094d;
  color: rgb(19, 209, 184);
}

.App-nav a {
  padding: 10px 20px 10px 20px;
  background-color:rgb(6, 57, 66);
  text-decoration: none;
  color: rgb(112, 187, 236);
  line-height: 1;
  vertical-align: middle;
  border-right: 2px solid blanchedalmond;
  font-size: 1.3em;
  font-weight:bold;
  border-radius: 3px;
}
